.singleCategoryPage {
  margin-top: -3rem;
  h3 {
    margin-bottom: 1.5rem;
  }
  &__additionalInfo {
    padding: 0;
    list-style-type: none;
    li {
      align-items: center;
      display: flex;
      font-size: 18px;
      &:not(:last-child) {
        margin-bottom: 1rem;
      }

      svg {
        font-size: 22px;
        margin-right: 10px;
      }
      a {
        margin-left: 8px;
        text-decoration: underline !important;
        color: #ff6853;
      }
    }
  }
}