@import "../../assets/scss/mixins/mixins";

.headerContent {
  display: flex;
  align-items: center;
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
  border-bottom: 3px solid #f2f2f2;
  .siteBranding {
    margin-right: 15px;
    position: relative;
    z-index: 102;
  }
  .mainNavigation {
    .navMenu {
      &__link {
        @include defaultMenuItem;
        &_active {
          color: #ff6853;
        }
      }
      a {
        padding: 0.5rem 1rem;
      }
      @media screen and (max-width: 768px) {
        padding: 0;
        &__item {
          padding: 0.5rem;
          a {
            padding: 0;
          }
          ul {
            padding-left: 20px;
            border: none;
            a {
              padding: 0.5rem 1rem;
            }
          }
        }
      }
      .nav-link {
        padding: 0;
      }
    }
    @media screen and (max-width: 992px) {
      padding: 0;
    }
  }
  .menuToggle {
    order: 4;
    margin-left: auto;
    position: relative;
    z-index: 101;
    border: none;
    background-color: #ffffff;
    color: #ff6853;
    font-size: 26px;
    @media screen and (min-width: 992px) {
      display: none;
    }
  }
  @media screen and (max-width: 992px) {
    position: fixed;
    z-index: 200;
    top: 0;
    left: 0;
    width: 100% !important;
    max-width: 100% !important;
    background-color: #ffffff;
  }
}