@import url('https://fonts.googleapis.com/css2?family=Baloo+Chettan+2:wght@400..800&display=swap');

*{
  font-family: "Baloo Chettan 2", sans-serif;
  font-weight: 400;
}

ul {
  margin-bottom: 0 !important;
}
.section-container {
  padding: 40px 0;
}
a {
  text-decoration: none !important;
  &:hover {
    color: #ff6853;
  }
}
main {
  padding: 3rem 0;
  @media screen and (max-width: 992px) {
    padding-top: 144px;
  }
}