@import url('https://fonts.googleapis.com/css2?family=Baloo+Chettan+2:wght@400..800&display=swap');

*{
  font-family: "Baloo Chettan 2", sans-serif;
  font-weight: 400;
}

body {
  display: flex;
  flex-direction: column;
  footer {
    margin-top: auto;
  }
}

ul {
  margin-bottom: 0 !important;
}
.section-container {
  padding: 40px 0;
}
a {
  text-decoration: none !important;
  &:hover {
    color: #ff6853;
  }
}
main {
  padding: 3rem 0;
  @media screen and (max-width: 992px) {
    padding-top: 144px;
  }
}

.navbar {
  width: 100%;
  .navbar-toggler {
    position: relative;
    z-index: 102;
  }
}
#mainNavigation {
  &.show {
    right: 0;
  }
}
.form-select:focus {
  box-shadow: none !important;
  border-color: #dee2e6 !important;
}